
.header-container {
    background-color: lightgray;
    height: 200px;
    border: none;
    background-image: ;
}

.header-buttons {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    display: inline;
    position: relative;
    padding: 20px;
    top: 30px;
    margin: auto
}


#logo-container img {
    width: 150px;
}

.header-buttons:hover {
    background: #243e75;
}

.search-container {
    margin: 20px
}