
.header-container {
    background-color: lightgray;
    height: 100px;
    border: none;
    margin: auto;
}

.nav-bar {


}

.header-buttons {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    padding: 15px;
    display: inline;
}

.header-buttons:hover {
    background: #243e75;
}

.search-container {
    margin: 20px
}